<style>
    .row-cols-7>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 12.5%;
    }

    kbd{
        background-color: #f1f1f1;
        color: #000;
        padding: 3px 10px;
    }
</style>
<div class="section-content">
    <div class="container mb-10">
        <p class="mb-3 text-gray-400">Primary Color Palette</p>
        <div class="row row-cols-7">
            <div class="col">
                <div class="shadow">
                    <div class="bg-black py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">Black</p>
                        <p class="font-size-xs mb-0 text-gray-500">#000000</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-primary py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">Copper</p>
                        <p class="font-size-xs mb-0 text-gray-500">#9B6A45</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-primary-500 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">ANTIQUE BRASS</p>
                        <p class="font-size-xs mb-0 text-gray-500">#D29C7D</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-secondary-500 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">CHAMPAGNE PINK</p>
                        <p class="font-size-xs mb-0 text-gray-500">#F2DBCF</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-alabaster py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">ALABASTER</p>
                        <p class="font-size-xs mb-0 text-gray-500">#FAFAF7</p>    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-10">
        <p class="mb-3 text-gray-400">Color Tints</p>
        <div class="row">
            <div class="col-3">
                <div class="bg-primary-500 py-1 px-3 text-black text-end text-uppercase">
                    #d29c7d
                </div>

                <div class="bg-primary-400 py-1 px-3 text-black text-end text-uppercase">
                    #DDB49D
                </div>

                <div class="bg-primary-300 py-1 px-3 text-black text-end text-uppercase">
                    #E8CDBE
                </div>

                <div class="bg-primary-200 py-1 px-3 text-black text-end text-uppercase">
                    #F3E6DE
                </div>

                <div class="bg-primary-100 py-1 px-3 text-black text-end text-uppercase">
                    #F8F0EC
                </div>
            </div>
 
            <div class="col-3">
                <div class="bg-secondary-500 py-1 px-3 text-black text-end text-uppercase">
                    #F2DBCF
                </div>

                <div class="bg-secondary-400 py-1 px-3 text-black text-end text-uppercase">
                    #F5E4DB
                </div>

                <div class="bg-secondary-300 py-1 px-3 text-black text-end text-uppercase">
                    #F8EDE7
                </div>

                <div class="bg-secondary-200 py-1 px-3 text-black text-end text-uppercase">
                    #FCF5F1
                </div>

                <div class="bg-secondary-100 py-1 px-3 text-black text-end text-uppercase">
                    #FDFBF9
                </div>
            </div>

            <div class="col-3">
                <div class="bg-black py-1 px-3 text-white text-end text-uppercase">
                    #000000
                </div>

                <div class="bg-gray-900 py-1 px-3 text-white text-end text-uppercase">
                    #1c1c1c
                </div>

                <div class="bg-gray-800 py-1 px-3 text-white text-end text-uppercase">
                    #383838
                </div>

                <div class="bg-gray-700 py-1 px-3 text-white text-end text-uppercase">
                    #555555
                </div>

                <div class="bg-gray-600 py-1 px-3 text-white text-end text-uppercase">
                    #717171
                </div>
            </div>

            <div class="col-3">
                <div class="bg-gray-500 py-1 px-3 text-black text-end text-uppercase">
                    #8d8d8d
                </div>

                <div class="bg-gray-300 py-1 px-3 text-black text-end text-uppercase">
                    #aaaaaa
                </div>

                <div class="bg-gray-200 py-1 px-3 text-black text-end text-uppercase">
                    #c6c6c6
                </div>

                <div class="bg-gray-100 py-1 px-3 text-black text-end text-uppercase">
                    #e2e2e2
                </div>

                <div class="bg-white py-1 px-3 text-black text-end text-uppercase">
                    #ffffff
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-10">
        <p class="mb-3 text-gray-400">Secondary Color Palette</p>
        <div class="row row-cols-7">
            <div class="col">
                <div class="shadow">
                    <div class="bg-almond py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">ALMOND</p>
                        <p class="font-size-xs mb-0 text-gray-500">#FAE2CC</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-primary py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">SALE PRICE</p>
                        <p class="font-size-xs mb-0 text-gray-500">#C44313</p>    
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-10 border-top d-block"></div>
    </div>    

    <div class="container mb-10">
        <div class="row mb-7">
            <div class="col-12">
                <h6>H1</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Montserrat</div>
                    <div class="mb-3">Bold</div>
                    <div>Font Size: 42px</div>
                    <div>Line Height: 1.38</div> 
                    <div>Font Color: #1A1818</div>
                </div>
            </div>
            <div class="col-8">
                <h1>The quick brown fox jumps over the lazy dog.</h1>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <h6>H2</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Montserrat</div>
                    <div class="mb-3">Bold</div>
                    <div>Font Size: 32px</div>
                    <div>Line Height: 1.31</div> 
                    <div>Font Color: #1A1818</div>
                </div>
            </div>
            <div class="col-8">
                <h2>The quick brown fox jumps over the lazy dog.</h2>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <h6>H3</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Montserrat</div>
                    <div class="mb-3">Bold</div>
                    <div>Font Size: 24px</div>
                    <div>Line Height: 1.21</div> 
                    <div>Font Color: #979792</div>
                </div>
            </div>
            <div class="col-8">
                <h3>The quick brown fox jumps over the lazy dog.</h3>
            </div>
        </div>

        <div class="row mb-10">
            <div class="col-12">
                <h6>H4</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Cormorant</div>
                    <div class="mb-3">Bold Italic</div>
                    <div>Font Size: 30px</div>
                    <div>Line Height: 1.3</div> 
                    <div>Font Color: #1A1818</div>
                </div>
            </div>
            <div class="col-8">
                <h4 class="font-italic">The quick brown fox jumps over the lazy dog.</h4>
            </div>
        </div>

        <div class="row mb-10">
            <div class="col-12">
                <h6>H5</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Cormorant</div>
                    <div class="mb-3">Bold Italic</div>
                    <div>Font Size: 30px</div>
                    <div>Line Height: 1.3</div> 
                    <div>Font Color: #1A1818</div>
                </div>
            </div>
            <div class="col-8">
                <h5 class="font-italic">The quick brown fox jumps over the lazy dog.</h5>
            </div>
        </div>

        <div class="row mb-10">
            <div class="col-12">
                <h6>H6</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Cormorant</div>
                    <div class="mb-3">Bold Italic</div>
                    <div>Font Size: 30px</div>
                    <div>Line Height: 1.3</div> 
                    <div>Font Color: #1A1818</div>
                </div>
            </div>
            <div class="col-8">
                <h6 class="font-italic">The quick brown fox jumps over the lazy dog.</h6>
            </div>
        </div>
        
        <div class="row mb-10">
            <div class="col-12">
                <h6>Paragraph</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md">
                    <div>Roboto</div>
                    <div class="mb-3">Regular / Italic / Medium(Bold)</div>
                    <div>Font Size: 15px</div>
                    <div>Line Height: 1.66</div> 
                    <div>Font Color: #1A1818</div>
                </div>
            </div>
            <div class="col-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            </div>
        </div>   
        
        <div class=" border-top d-block"></div>  
    </div>

    <div class="container mb-10">
        <div class="row mb-10">
            <div class="col-4">
                <h6 class="text-uppercase mb-3">Normal Button</h6>
                <ul class="list-group list-unstyled">
                    <li class="mb-3">
                        <p><kbd>btn btn-primary</kbd></p>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-secondary</kbd></p>
                        <a href="" class="btn btn-secondary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-dark</kbd></p>
                        <a href="" class="btn btn-dark">Shop Now</a>
                    </li>
                    <li class="">
                        <span class="p-5 bg-primary-400 d-inline-block">
                            <p><kbd>btn btn-white</kbd></p>
                            <a href="" class="btn btn-white">Shop Now</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h6 class="text-uppercase mb-3">Large Button</h6>
                <ul class="list-group list-unstyled">
                    <li class="mb-3">
                        <p><kbd>btn btn-primary btn-sm</kbd></p>
                        <a href="" class="btn btn-lg btn-primary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-secondary btn-sm</kbd></p>
                        <a href="" class="btn btn-lg btn-secondary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-dark btn-sm</kbd></p>
                        <a href="" class="btn btn-lg btn-dark">Shop Now</a>
                    </li>
                    <li class="">
                        <span class="p-5 bg-primary-400 d-inline-block">
                            <p><kbd>btn btn-white btn-lg</kbd></p>
                            <a href="" class="btn btn-lg btn-white">Shop Now</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h6 class="text-uppercase mb-3">Small Button</h6>
                <ul class="list-group list-unstyled">
                    <li class="mb-3">
                        <p><kbd>btn btn-primary btn-sm</kbd></p>
                        <a href="" class="btn btn-sm btn-primary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-secondary btn-sm</kbd></p>
                        <a href="" class="btn btn-sm btn-secondary">Shop Now</a>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-dark btn-sm</kbd></p>
                        <a href="" class="btn btn-sm btn-dark">Shop Now</a>
                    </li>
                    <li class="">
                        <span class="p-5 bg-primary-400 d-inline-block">
                            <p><kbd>btn btn-white btn-sm</kbd></p>
                            <a href="" class="btn btn-sm btn-white">Shop Now</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 pb-10">
            <p><kbd>btn-link</kbd></p>
            <a href="" class="btn-link">Shop Now</a>
        </div>

        <div class=" border-top d-block"></div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3">Form Floating</h6>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3">Form Floating</h6>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
            </div>
        </div>
    </div>
</div>



{% schema %}
{
  "name": "image banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
        "type": "image_picker",
        "id": "image2",
        "label": "t:sections.image-banner.settings.image.label"
    }
  ]
}
{% endschema %}