.active-filter__button:only-child {
    display: none;
}

.active-filter__button.disabled,
.mobile-filter__clear.disabled {
    pointer-events: none;
}

@media all and (min-width: 750px) {
    .active-filters-mobile {
        display: none;
    }
}

.count-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--bs-color-gray-200);
    color: var(--bs-color-dark);
    margin-left: 0.7rem;
    font-weight: 400;
}

.count-bubble:empty {
    visibility: hidden;
}

.count-bubble--dot:empty {
    visibility: visible;
}

.count-bubble--dot::before {
    content: '';
    width: 0.2rem;
    height: 0.2rem;
    display: block;
    background-color: var(--color-background);
    border-radius: 50%;
}

@media (min-width: 992px) {
    .sortby-dropdown {
        position: relative;
        display: block;
    }

    .sortby-dropdown .default {
        cursor: pointer;
        z-index: 2;
    }

    .sortby-dropdown .custom--select {
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        z-index: 2;
        background: var(--bs-body-bg);
    }
    .sortby-dropdown .custom--select > ul{
        border: 1px solid var(--bs-input-border-color);
        padding: 0px 20px;
    }
    .sortby-dropdown .custom--select ul li:first-child{
        padding-top: 15px !important;
    }
    .sortby-dropdown .custom--select ul li:last-child{
        padding-bottom: 15px !important;
    }
}

.custom-pagination-dropdown{
    min-width: 80px;
}

.filter-active.sortby-drawer .filter__wrapper,
.filter-active.sortby-drawer .sortby-dropdown .default,
.filter-active .sorting {
    display: none !important;
}

.filter-active.sortby-drawer .sorting {
    display: block !important;
}

@media (max-width: 991px) {
    .filter-active.sortby-drawer .sortby-dropdown .custom--select .toggle-content {
        display: block;
        height: auto !important;
    }
}

.active-filter__button {
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.filter__item .form-check .form-check-label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.filter__item .form-check .collection-entry.active {
    font-weight: bold;
}

.filter__container.open .filter__toggle .icon-arrow-down::before {
    content: "\e914";
}

@media (min-width: 992px) {
    .filter__list {
        max-height: 420px;
        overflow: auto;
    }
}

@media (max-width: 991px) {
    #filtersCollapse.filter-active {
        display: block !important;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        background: #fff;
        z-index: 1170;
    }

    .collection-filter-header, .search-filter-header {
        background: #fff;
        padding: 12px 15px;
        border-bottom: 1px solid var(--bs-color-border);
    }

    .collection-filters, .search-filters {
        position: static;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .collection-filters-close, .search-filters-close {
        position: absolute;
        left: 8px;
        top: 0;
        height: 100%;
        width: 36px;
        text-align: center;
        font-size: 36px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .collection-filters .filters, .search-filters .filters {
        overflow: auto;
        flex: 1 1 auto;
        display: block;
    }

    .filter__form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .filter__wrapper {
        overflow: auto;
    }
}

.color-options-list .color-options {
    padding: 0;
    margin: 0;
}
.color-options-list .filter__item{
    display: inline-block;
    margin-right: 0.5rem;
}
.color-options .form-check-input{
    display: none;
}
.color-options .form-check-input + .form-check-label{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.color-options .form-check-input + .form-check-label:after{
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    border-radius: 50%;
    opacity: 0;
}

.color-options .form-check-input:checked + .form-check-label:after{
    opacity: 1;
}




/*----------  Horizontal Filters  ----------*/

@media (min-width: 992px) {
    .horizontal-filters .collection-filters{
        z-index: 3;
    }
    .horizontal-filters .filter__wrapper .filter__container{
        border-bottom: 0 !important;
        padding: 9px 0rem!important;
        position: relative;
        margin-right: 30px;
        margin-bottom: 0 !important;
        border: 0 !important;
    }
    .horizontal-filters .filter__form{
        border-top: 0 !important;
    }
    .horizontal-filters .filter__wrapper {
        display: flex;
    }
    .horizontal-filters .count-bubble{
        display: none;
    }
    .horizontal-filters .filter__block{
        position: absolute;
        left: 0;
        top: calc(100% + 5px);
        background: #fff;
        padding: 0px 1rem;
        border-radius: 3px;
        white-space: nowrap;
        border: 1px solid #cfcfcf;
    }
    .horizontal-filters .filter__block .filter__list{
        padding: 0.5rem 0 !important;
    }
    .horizontal-filters .filter__block.color-options-list{
        width: 375px;
        white-space: normal;
    }
    .horizontal-filters #filter_toggle_price.filter__block{
        width: 340px;
    }
    .horizontal-filters #filter_toggle_price.filter__block .filter__price{
        padding: 1rem 0rem !important;
    }
    .horizontal-filters .filter__wrapper .filter__toggle{
        text-transform: capitalize !important;
    }
    .horizontal-filters .filter__wrapper .filter__toggle .ms-auto{
        margin-left: 10px!important;
        font-size: 12px;
    }

    .horizontal-filters .filter__item .form-check .form-check-label span{
        margin-left: 20px;
    }
}

/*  Price range slider styling    */
section.range-slider {
    position: relative;
    width: 100%;
    height: 75px;
    float: left;
    text-align: center;
  }
  section.range-slider input[type=range] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 14px;
    background: #F1EFEF;
    box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    overflow: hidden;
    left: 0;
    top: 50px;
    width: 100%;
    outline: none;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  section.range-slider input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413F41)); /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, #dad8da 0, #413F41 100%); /* older mobile safari and android > 2.2 */
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%); /* W3C */
  }
  section.range-slider input[type=range]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%); /* W3C */
  }
  section.range-slider input[type=range]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    border: 0;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%); /* W3C */
  }
  section.range-slider input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    border: 0;
  }
  section.range-slider input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
  }
  section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
  }