
.cart-drawer {
    position: fixed;
    z-index: 1170;
    top: 0;
    right: 0;
    left: auto;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    overflow: hidden;
    max-width: 450px;
    width: 95%;
    height: 100%;
    background: #fff;
    transition: all .65s cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    transform: translate3d(100%,0,0);
}

.cart-drawer.opened-drawer{
    visibility: visible !important;
    transform: translateZ(0);
    overflow: auto;
}

.cart-drawer form{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.cart-drawer form > .row{
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}
.cart-drawer form > .row > .col-12{
    padding: 0;
}
.cart-drawer form .cart-total{
    width: 100%;
    margin-top: auto !important;
    background: var(--bs-color-primary-100);
    padding:1rem !important; 
}
.cart-drawer .cart-header{
    display: none;
}

.cart-drawer .cart-body{
    border-top:1px solid var(--bs-color-border);
}

.cart-drawer .cart-body .cart-items.updating{
    pointer-events: none;
    opacity: 0.6;
}

.cart-drawer .cart-body .cart-items > .cart-item .cart-product-img{
    width: 100%;
    margin-bottom: 1rem !important;
}
.cart-drawer .cart-body .cart-items > .cart-item .cart-item-text{
    width: 100%;
}

.cart-drawer .cart-body .cart-items > .cart-item .cart-product-img .cart-img{
    width: 140px;
    flex: 0 0 auto;
}

.cart-drawer .cart-body .cart-items > .cart-item .cart-price{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
    text-align: left !important;
}
.cart-drawer .cart-body .cart-items > .cart-item .quantity-box{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}
.cart-drawer .cart-body .cart-items > .cart-item .quantity-box .quantity-wrapper label{
    display: none;
}
.cart-drawer .cart-body .cart-items > .cart-item .cart-total-price{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
}
 
.cart-drawer .delivery-shipping{
    padding: 1rem;
    background: var(--bs-color-primary-100);
    margin-bottom: 0 !important;
}
.cart-drawer .section-header{
    padding: 1rem!important;
    justify-content: space-between !important;
    margin-bottom: 0 !important;
}
.cart-drawer .section-header .close-ajax--cart{
    display: block !important;
}
.cart-drawer .section-header .page-title{
    font-size: var(--bs-h1-font-size) !important;
}
.cart-drawer .section-header .icon{
    font-size: 2rem !important;
    line-height: 1;
}
.cart-drawer .section-header .page-title{
    font-size: 1.175rem !important;
}
.cart-drawer .drawer-hide{
    display: none !important;
}
.cart-drawer .section-min-height{
    min-height: auto;
}




.swatch input {
    display: none;
}

.swatch .form-label {
    padding: 0.25rem 0.5rem;
    min-width: 32px;
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--bs-body-color);
    font-size: var(--bs-font-size-md);
    /* border-radius: 2rem; */
}

.swatch input:checked+label {
    background: var(--bs-color-black);
    color: var(--bs-body-bg);
    border: 1px solid var(--bs-color-black);
}

.swatch.color-swatch .swatch-label {
    min-width: 16px;
    min-height: 16px;
    display: block;
    border-radius: 50%;
    border: 0;
    position: relative;
}

.swatch.color-swatch {
    border-radius: 50%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.swatch.color-swatch input:checked+.swatch-label:after {
    content: '';
    display: block;
    position: absolute;
    background: #fff;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swatch.color-swatch input:checked+.swatch-label.White:after {
    background: #000;
}

.product-form__input {
    margin-bottom: 1rem !important;
}

.product-form form {
    margin-top: 0 !important;
}

.product-form .form__label {
    display: none;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-inline: 1rem;
    height: 0.5rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: var(--bs-color-gray-100);
    border-radius: 3.75rem;
}
.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: var(--bs-color-primary);
    transition: width .6s ease;
    border-radius: 3.75rem;
}